<form [formGroup]="form" class="search-form">
  <div class="col-12">
    <label class="search-form__label">
      Country codes
    </label>
    <ng-multiselect-dropdown
      name="countryCodes"
      class="search-form__dropdown"
      [placeholder]="'Select country codes'"
      [data]="countryCodes"
      formControlName="countryCodes"
      [settings]="countryCodeDropdownSettings"
    >
    </ng-multiselect-dropdown>
  </div>
  <div class="col-12 mt-3">
    <label class="search_form__label">
      Devices
    </label>
    <ng-multiselect-dropdown
      name="devices"
      class="search-form__dropdown"
      [placeholder]="'Select devices'"
      [data]="devices"
      formControlName="devices"
      [settings]="deviceDropdownSettings"
    >
    </ng-multiselect-dropdown>
  </div>

  <div class="col-12 mt-3">
    <button class="search-form__button w-100 btn btn-primary btn-lg"
            (click)="submitSearch()"
            [disabled]="!form.valid">
      Search
    </button>
  </div>
</form>
